/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0791ee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styles */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Input Group Styles */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555555;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    background-color: #f9fafb;
}

input[type="text"] {
    background-color: #f4f7f9;
}

/* Button Group Styles */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0056b3;
}

/* Result Text Styles */
#resultText {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
}

/* Generate Button Styles */
.generate-btn {
    background-color: #28a745;
}

.generate-btn:hover {
    background-color: #218838;
}

#generatedPassword {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9fafb;
    color: #333333;
}
